* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

.header {
  width: 100%;
  height: auto;
  background-color: rgb(222, 228, 172);
}
.header__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 40px;
  .header-title {
    font-size: 34px;
  }
  .header-description {
    display: flex;
    gap: 10px;
    .header-description-text {
      font-size: 30px;
    }
    .header-description-btn {
      font-size: 30px;
      padding: 0 0 0 10px;
      background-color: transparent;
    }
  }
  .header-change-name {
    max-width: 200px;
    background-color: rgb(203, 172, 228);
  }
}

.main {
  width: 100%;
  height: auto;
  min-height: 1000px;
  background-color: rgb(153, 187, 176);
}
.main__container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
}
.main-up {
  display: flex;
  justify-content: space-between;
}
.create-todo {
  display: flex;
  align-items: center;
  gap: 10px;
  .create-todo-text {
    font-size: 28px;
  }
}
.create-todo-btn {
  background-color: #4caf50;
}

.filter-group {
  display: flex;
  gap: 10px;
}
.filter {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;

  .filter-text {
    font-size: 30px;
    font-weight: 500;
  }
  .filter-img {
    width: 33px;
    height: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .filter-img.rotated {
    transform: rotate(180deg);
  }
  .filter-dropdown-menu {
    position: absolute;
    width: 155px;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    z-index: 10;

    li {
      padding: 8px 12px;
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}

.main-down {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  height: auto;
  padding: 20px 25px;
  border-radius: 20px;
  gap: 10px;
  background-color: aquamarine;
  border: 1px solid #000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.todo-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .todo__title {
    font-size: 26px;
  }
  .todo__description {
    font-size: 20px;
  }
  .todo__date {
		text-align: right;
    font-size: 16px;
    color: gray;
  }
}

.todo-btns {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

  .todo-change-btn {
    background-color: #f7b438;
  }
  .todo-delete-btn {
    background-color: #f74e38;
  }
  .todo-status-btn {
    padding: 10px 10px;
    background-color: #38f742;
  }
  .todo-status-btn-completed {
    background-color: #667e67;
  }
}

.modal-overflow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 600px;
  height: 220px;
  margin: auto;
  border-radius: 20px;
  transform: translateY(50%);
  background-color: rgb(199, 202, 201);
  border: 1px solid #000;
  z-index: 1000;

  .modal__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 25px;
  }

  .modal-title {
    font-size: 26px;
  }

  .modal-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    input {
      color: rgb(0, 0, 0);
      border: 1px solid #888787;
      padding: 5px 10px;
      text-align: start;
      font-size: 18px;
      border-radius: 5px;
      max-width: 300px;
    }
  }
  .modal__btns {
    display: flex;
    gap: 10px;
    align-self: center;

    .modal-create-todo-btn {
      background-color: #4caf50;
    }
    .modal-confirm-todo-btn {
      display: none;
      background-color: #4caf50;
    }
    .modal-close-btn {
      background-color: #adaf4c;
    }
  }
}
